name: workflow_dispatch
 
on:
  workflow_dispatch:
env:
  exe_env : gcp-test-deploy-release
jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: git setting
      run: |
        git config --local user.email "shougo_kawai@c.dwango.co.jp"
        git config --local user.name "shougo kawai"
    - name: git
      run: |
        REMOTE_REPOSITORY=$(git branch -a | grep remotes/origin/${{ env.exe_env }} | awk 'length < 56' |sort -n -r | head -n 1)
        echo $REMOTE_REPOSITORY
        echo "REMOTE_REPOSITORY=$REMOTE_REPOSITORY" >> $GITHUB_ENV
    - name: git
      run: |
        echo ${{ env.REMOTE_REPOSITORY }}