name: workflow_dispatch
 
on:
  workflow_dispatch:
env:
  exe_env : gcp-test-deploy-release
jobs:
  dispatch:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      pull-requests: write
      repository-projects: read
    steps:
    - uses: actions/checkout@v2
    - name: git setting
      run: |
        git config --local user.email "shougo_kawai@c.dwango.co.jp"
        git config --local user.name "shougo kawai"
    - name: git a
      run: |
        git pull
        REMOTE_REPOSITORY=$(git branch -a | grep remotes/origin/${{ env.exe_env }} | awk 'length < 56' |sort -n -r | head -n 1)
        echo $REMOTE_REPOSITORY
        echo "REMOTE_REPOSITORY=$REMOTE_REPOSITORY" >> $GITHUB_ENV
        TARGET_REPOSITORY=$(git branch -a | grep remotes/origin/${{ env.exe_env }} | sed -e 's/remotes\/origin\/${{ env.exe_env }}//g' | awk 'length <18' | sort -n -r | head -n 1 | sed -e 's/ //g')
        echo $TARGET_REPOSITORY
        echo "TARGET_REPOSITORY=$TARGET_REPOSITORY" >> $GITHUB_ENV
    - name: git a a
      run: |
        COUNT=$(git branch -a |grep "${{ env.TARGET_REPOSITORY}}" | wc -l)
        echo $COUNT
        echo "COUNT=$COUNT" >> $GITHUB_ENV
    - name: git b
      if: env.COUNT > 1
      run: |
        BRANCH_NUMBER=$(git branch -a | grep remotes/origin/${{ env.exe_env }} | sed -e 's/remotes\/origin\/${{ env.exe_env }}//g' | awk 'length > 18' | grep ${{ env.TARGET_REPOSITORY }}  | sort -n -r | head -n 1 |  cut -f 3 -d "_")
        echo $BRANCH_NUMBER
        NEW_BRANCH_NUMBER=$(expr $BRANCH_NUMBER + 1)
        echo $NEW_BRANCH_NUMBER
        NEW_REPOSITORY="${{ env.TARGET_REPOSITORY }}_${NEW_BRANCH_NUMBER}"
        echo $NEW_REPOSITORY
        echo "NEW_REPOSITORY=$NEW_REPOSITORY" >> $GITHUB_ENV
    - name: git c
      if: env.COUNT == 1
      run: |
        NEW_REPOSITORY="${{ env.TARGET_REPOSITORY }}_1"
        echo $NEW_REPOSITORY
        echo "NEW_REPOSITORY=$NEW_REPOSITORY" >> $GITHUB_ENV
    - name: git d
      run: |
        LOCAL_REPOSITORY=${{ env.exe_env }}${{ env.TARGET_REPOSITORY }}
        git checkout $LOCAL_REPOSITORY
        git branch ${{ env.exe_env }}${{ env.NEW_REPOSITORY }}
        git checkout "${{ env.exe_env }}${{env.NEW_REPOSITORY}}"
        git push --set-upstream origin "${{ env.exe_env }}${{ env.NEW_REPOSITORY }}"